body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: inherit;
    background-color: black;
    opacity: 0.94;
    overflow: hidden;
}

.version-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vw;
}

.version-container div {
    text-align: center;
    font-size: 45px;
    color: white;
    font-weight: lighter;
    text-shadow: 0 0 15px #fff;
    text-underline-offset: 15px;
}

.legit, .cheater {
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    transition: color 0.3s;
    user-select: none;
}

.legit:hover, .cheater:hover {
    color: #8b8b8b;
}

#module-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(15%, 0.1fr));
    justify-content: center;
    padding: 1em;
    gap: 2em;
    margin-bottom: 200px;
}

.category-header {
    font-size: 30px;
    font-weight: bold;
    color: #0066cc;
    text-align: center;
    user-select: none;
    font-family: Inter, serif;
    margin-bottom: 0.5em;
}

.module-item {
    margin-bottom: 0.5em;
    cursor: pointer;
    text-align: center;
}

.module-name {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    transition: font-size 0.2s ease;
    font-family: Inter, serif;
}

.module-name:hover {
    font-size: 24px;
}

.module-description {
    font-size: 17px;
    font-weight: lighter;
    color: #ffffff9a;
    font-family: Inter, serif;
}

@media screen and (max-width: 768px) {
    .version-container {
        height: auto;
        padding: 1em 0;
    }

    .version-container div {
        font-size: 28px;
        text-underline-offset: 8px;
    }

    #module-container {
        display: grid;
        grid-template-columns: repeat(1, minmax(100%, 0.1fr));
        justify-content: center;
    }
}