/run/
/gradle/
/build/
/.vscode/
/.gradle/
/.idea/
/odinmain/.gradle/
/odinmain/build/
/odinclient/.gradle/
/odinclient/build/
/odin/.gradle/
/odin/build
/**/run/
/logs/
/odinmain/src/main/resources/shaders/glslopt.exe
/odinmain/src/main/resources/shaders/output/
/odinmain/src/main/resources/shaders/optimize.bat
