body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.94; /* Adjust to your liking */
  z-index: -1; /* This places it behind the rest of the content */
}

.navBar {
  z-index: 2;
  display: grid;
  grid-template-columns: [start] 1.5fr [logo-end] 5fr [social-start] auto [social-end];
  grid-template-rows: 60px;
  padding: 1em;
  color: white;
  font-family: 'montserrat'; /* Added single quotes around font name */
}

.logo {
  z-index: 2;
  align-self: center;
  grid-column: start/logo-end;
  padding-top: 2em;
  padding-bottom: 1.5em;
  width: 250px; /* Added a missing semicolon */
}

.links {
  z-index: 2;
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  gap: 15px;
  font-size:75px;
  margin-top: -0.24em;
  
}

/*TOOL TIPS*/
.tooltip {
  z-index: 2;
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  z-index: 2;
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 50%;
  margin-left: -60px;
  font-size: 20px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  z-index: 2;
  visibility: visible;
  opacity: 1;
}

.links > div {
  z-index: 2;
}

.version-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  height: 10vh; /* Set the desired height for vertical centering */
  gap: 20px;
}

.version-container div {
  text-align: center; /* Center the text within the container */
  font-size: 45px; /* Adjust the font size as needed */
  color: white;
  font-weight: lighter;
  text-shadow: 0 0 15px #fff;
  text-underline-offset: 15px;
}

.legit, .cheater {
  margin: 20px;
  padding: 1em;
  cursor: pointer;
  transition: color 0.3s;
  
}

.legit:hover, .cheater:hover {
  color: #8b8b8b; /* Darken the font color */
}







.container-divider {
  background-color: white;
  height: 0.5px;
  margin: 0 auto;
  line-height: 0.1px; /* Added a unit (px) */
  box-shadow: 0 0 10px white;
  margin-top: auto;
  opacity: 0.25;
}

.spacer1 {
  height: 130px; /* Set the desired height of the space */
}

.centered-text {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  height: 10vh; /* Set the desired height for vertical centering */
}

.centered-text p {
  text-align: center; /* Center the text within the container */
  font-size: 90px; /* Adjust the font size as needed */
  color: white;
  font-weight: lighter;
  text-shadow: 0 0 15px #fff;
}

.spacer2 {
  height: 175px; /* Set the desired height of the space */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(20%, 0.1fr)); /* Adjust the percentage as needed */
  justify-content: center;
  padding: 1em;
  gap: 2em;
}

.rounded-rectangle {
  border: 0.5px solid white;
  border-radius: 10px;
  width: 100%; /* Relative to the grid cell */
  height: 10vw; /* Using vw for height, adjust as needed */
  box-shadow: 0 0 10px white;
  opacity: 1;
  position: relative;
  transition: transform 0.6s;
}


.rounded-rectangle:hover {
  transform: scale(1.1);
}

.Module {
  font-size: 1vw; /* Adjust this value based on your design */
  height: auto; /* Maintain aspect ratio, adjust width to control height */  font-weight: bold;
  text-align: center;
  color: white;
  position: relative;
  top: 1vh; /* Adjusted from 10px */
}

.Module::after {
  content: "";
  display: block;
  position: relative;
  width: 50%; /* Increase the width to make the line extend more to the right */
  height: 1px; /* Adjust the height of the line as needed */
  background-color: white; /* Set the color of the line */
  left: 48%; /* Adjust this value to start the line more to the right */
}

.text {
  font-size: 0.8vw; /* Adjust this value based on your design */
  height: auto; /* Maintain aspect ratio, adjust width to control height */
  text-align: center;
  color: white;
  position: relative;
  top: 2vw; /* Adjusted from 20px */
}

.rubix {
  margin-top: 1.5%;
  width: 50%; /* Adjust this percentage based on your design */
  height: auto; /* Maintain aspect ratio, adjust width to control height */
  float: left;
  transform: scale(0.9); /* Adjust as needed */
}

.firework {
  width: 50%; /* Adjust this percentage based on your design */
  height: auto; /* Maintain aspect ratio, adjust width to control height */
  float: left;
  margin-right: 0.1vh; /* Use percentage for margin-right */
  transform: scale(0.85); /* Adjust as needed */
}

.shovel {
  width: 50%; /* Adjust this percentage based on your design */
  height: auto; /* Maintain aspect ratio, adjust width to control height */
  float: left;
  margin-right: 1vh; /* Use percentage for margin-right */
  transform: scale(0.85); /* Adjust as needed */
}

.esp {
  width: 40%; /* Adjust this percentage based on your design */
  height: auto; /* Maintain aspect ratio, adjust width to control height */
  float: left;
  margin-right: 4vh; /* Use percentage for margin-right */
  transform: scale(0.9); /* Adjust as needed */
}

.blessing {
  width: 50%; /* Adjust this percentage based on your design */
  height: auto; /* Maintain aspect ratio, adjust width to control height */
  float: left;
   /* Use percentage for margin-right */
  transform: scale(0.85); /* Adjust as needed */
}

.dragon {
  width: 50%; /* Adjust this percentage based on your design */
  height: auto; /* Maintain aspect ratio, adjust width to control height */
  float: left;
  margin-right: 1vh; /* Use percentage for margin-right */
  transform: scaleX(-0.85); /* Adjust as needed */
}


.fuckdiorite {
  width: 50%; /* Adjust this percentage based on your design */
  height: auto; /* Maintain aspect ratio, adjust width to control height */
  float: left;
  margin-right: 1vh; /* Use percentage for margin-right */
  transform: scaleY(0.95) scale(0.9); /* Adjust as needed */
  animation-name: fadeInImage1;

}

.fuckglass {
  width: 50%; /* Adjust this percentage based on your design */
  height: auto; /* Maintain aspect ratio, adjust width to control height */
  float: left;
  margin-right: 1vh; /* Use percentage for margin-right */
  transform: scaleY(0.95) scale(0.9) translateY(-117%); /* Adjust as needed */
  animation-name: fadeInImage2;

}

.fuckdiorite, .fuckglass {
  animation-duration: 10s; /* Set the animation duration as needed */
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes fadeInImage1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 2;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInImage2 {
  0% {
    opacity: 2;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

.ghostpick {
  margin-top: 10%;
  width: 50%; /* Adjust this percentage based on your design */
  height: auto; /* Maintain aspect ratio, adjust width to control height */
  float: left;
  transform: scaleX(.9) scale(1.15);
}

.cookie {
  margin-top: 1.5%;
  width: 50%; /* Adjust this percentage based on your design */
  height: auto; /* Maintain aspect ratio, adjust width to control height */
  float: left;
  transform: scale(0.9); /* Adjust as needed */
}

.ghost {
  width: 50%; /* Adjust this percentage based on your design */
  height: auto; /* Maintain aspect ratio, adjust width to control height */
  float: left;
  transform: scale(0.5); /* Adjust as needed */
  margin-top: -95px;
}

.tnt {
  width: 50%; /* Adjust this percentage based on your design */
  height: auto; /* Maintain aspect ratio, adjust width to control height */
  float: left;
  transform: scale(0.9); /* Adjust as needed */
}

.bow {
  width: 50%; /* Adjust this percentage based on your design */
  height: auto; /* Maintain aspect ratio, adjust width to control height */
  float: left;
  transform: scale(0.8); /* Adjust as needed */
}





.spacerfoot {
  height: 140px; /* Set the desired height of the space */
}



/* Style your footer */
footer {
  margin-top: 100px;
  background-color: #333;
  color: #fff;
  padding: 12px;
  text-align: center;
  position: relative; /* Add relative positioning to the footer */
  overflow: hidden; /* Ensure the image won't overflow the footer */
  
}



/* Set a minimum height for the content area to push the footer down */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}



#cat {
  width: 72px;
  height: 72px;
  border-radius: 10px;
  opacity: 1;
  position: absolute;
  left: 0;
  bottom: 0; /* Stick it to the bottom of the footer */
  transition: transform 0.6s; /* Add transition for transform property */
}

.white-link {
  color: white;
  text-decoration: underline;
}

.white-link:hover{
  color: #8b8b8b; /* Darken the font color */
}


@media screen and (max-width: 1600px){
/*For Mobile only*/

  #cat {
    width: 72px;
    height: 72px;
  }

  .centered-text p {
    font-size: 40px;
  }

  .navBar {
    grid-template-columns: [start] 1fr [logo-end] 0.5fr [social-start] auto [social-end];

  }

 .links {
  
  
  font-size: 60px;
  margin-top: 0.02em;
  gap: 10px;
 }

 .tooltip .tooltiptext {
  display: none;
}
 

  .text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.1vw; /* Adjust for smaller screens */
    margin-bottom: 0em; /* Adjust the margin to decrease spacing between lines */
    text-align: left;
    top: 42%;
    position: absolute;
    
  }

  .ghost {
    width: 50%; /* Adjust this percentage based on your design */
    height: auto; /* Maintain aspect ratio, adjust width to control height */
    float: left;
    transform: scale(0.5); /* Adjust as needed */
    margin-top: -40px;
  }

  .Module {
    font-size: 2.4vw; /* Adjust for smaller screens */
    top: 3%; /* Adjust for smaller screens */
  }

  .esp {
    margin-right: 2vh;
  }

  .rounded-rectangle:hover {
    transform: scale(1);
  }
}


@media screen and (max-width: 700px){
  /*For Mobile only*/
  .logo {
      width:200px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(28%, 0.1fr)); /* Adjust the percentage as needed */
    justify-content: center;
    margin-right: 7em;
    column-gap: 7.5em;
    row-gap: 1em;
  }

  .rounded-rectangle {
    height: 90px ;
    width: 180px;
  }

  .version-container div {
    text-align: center; /* Center the text within the container */
    font-size: 35px; /* Adjust the font size as needed */
    color: white;
    font-weight: lighter;
    text-shadow: 0 0 15px #fff;
    text-underline-offset: 15px;
  }
 
}



.module-list-legit {
  display: grid;
  grid-template-columns: repeat(4, minmax(20%, 0.1fr)); /* Adjust the percentage as needed */
  grid-auto-flow: column; /* Change the flow to column */
  justify-content: center;
  margin-bottom: 14.5em;
}

.module-list-cheater {
  display: grid;
  grid-template-columns: repeat(4, minmax(20%, 0.1fr)); /* Adjust the percentage as needed */
  grid-auto-flow: column; /* Change the flow to column */
  justify-content: center;
}

/* Style for category headers */
.category-Dungeons {
  font-family: 'Category-Font', sans-serif; /* Change 'Category-Font' to your desired font */
  font-size: 30px; /* Change the font size as needed */
  font-weight: bold; /* You can set font weight as needed */
  color: #0066cc; /* Change the color as needed */
  position: relative;
  user-select: none;
  text-align: center;


}

.category-Floor7 {
  font-family: 'Category-Font', sans-serif; /* Change 'Category-Font' to your desired font */
  font-size: 30px; /* Change the font size as needed */
  font-weight: bold; /* You can set font weight as needed */
  color: #0066cc; /* Change the color as needed */
  position: relative;
  user-select: none;
  text-align: center;

}

.category-Render {
  font-family: 'Category-Font', sans-serif; /* Change 'Category-Font' to your desired font */
  font-size: 30px; /* Change the font size as needed */
  font-weight: bold; /* You can set font weight as needed */
  color: #0066cc; /* Change the color as needed */
  position: relative;
  user-select: none;
  text-align: center;


}

.category-Skyblock {
  font-family: 'Category-Font', sans-serif; /* Change 'Category-Font' to your desired font */
  font-size: 30px; /* Change the font size as needed */
  font-weight: bold; /* You can set font weight as needed */
  color: #0066cc; /* Change the color as needed */
  position: relative;
  user-select: none;
  text-align: center;


}






/* Style for module names */
.module-name {
  font-size: 22px; /* Change the initial font size as needed */
  font-weight: bold; /* You can set font weight as needed */
  color: #ffffff; /* Change the color as needed */
  transition: font-size 0.2s ease; /* Add a smooth transition effect */
  /* Add other font-related properties if necessary */
}

/* Apply the hover effect */
.module-name:hover {
  font-size: 24px; /* Change to the desired bigger font size on hover */
}


/* Style for module descriptions */
.module-description {
  font-size: 17px; /* Change the font size as needed */
  font-weight: lighter; /* You can set font weight as needed */
  color: #ffffff9a; /* Change the color as needed */
  /* Add other font-related properties if necessary */
}

