body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.94; /* Adjust to your liking */
  z-index: -1; /* This places it behind the rest of the content */
}

.navBar {
  z-index: 2;
  display: grid;
  grid-template-columns: [start] 1.5fr [logo-end] 5fr [social-start] auto [social-end];
  grid-template-rows: 60px;
  padding: 1em;
  color: white;
  font-family: montserrat;
}

.logo {
  z-index: 2;
  align-self: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width:250px;
    

    
}



.links {
  z-index: 2;
  grid-column: social-start/social-end;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-content: center;
  justify-content: center;
  gap: 15px;
  margin-right: -1em;
    
}

/*TOOL TIPS*/
.tooltip {
  z-index: 2;
  position: relative;
  display: inline-block;

}

.tooltip .tooltiptext {
  z-index: 2;
  visibility: hidden;
  width: 120px;

  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 50%;
  margin-left: -60px;

  font-size: 20px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  z-index: 2;
  visibility: visible;
  opacity: 1;
}


.links > div{
  z-index: 2;
}




.container-divider {
  background-color: white;
  height: 0.5px;
  margin: 0;
  line-height: 0.1;
  box-shadow: 0 0 10px white;
  margin-top: auto;
  opacity: 0.25;
}





footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}


