<footer>
  <div class="cat-container">
    <img id="cat" src="https://cdn2.thecatapi.com/images/dte.jpg" alt="Random cat image" title="Click me!">
  </div>
  <p class="copyright">Copyright &copy; <script>document.write(new Date().getFullYear())</script></p>
  <a class="white-link" href="installation_guide">Installation Guide</a> | <a class="white-link" href="feature_list">Full Feature List</a>
</footer>

<style>
  footer {
    background-color: #333;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    position: sticky;
    bottom: 0;
    width: 100%;
  }

  .cat-container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
  }

  #cat {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .copyright {
    color: white;
  }

  .white-link {
    color: white;
    text-decoration: underline;
  }

  .white-link:hover {
    color: #8b8b8b;
  }

  @media screen and (max-width: 768px) {
    footer {
      font-size: 14px;
      padding: 10px;
    }
  }
</style>